body {
  background: #000;
  color: #fff;
}

.hide {
  display: none;
}

.game {
  position: relative;
}

.start {
  position: absolute;
  top: 10px;
  left: calc(50% - 400px);
  padding: 10px;
  border: 1px solid #fff;
  font: normal 400 16px Helvetica, sans-serif;
  text-transform: uppercase;
}
.start:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
  transition: color 0.3s ease, background 0.3s ease;
}

.car,
.enemy {
  position: absolute;
  bottom: 10px;
  left: 125px;
  width: 50px;
  height: 100px;
}

.car {
  background: transparent url(../img/player.png) center / cover no-repeat;
}

.enemy {
  background: transparent url(../img/enemy-1.png) center / cover no-repeat;
}

.gameArea {
  position: relative;
  width: 300px;
  height: 100vh;
  margin: auto;
  background: #222;
  overflow: hidden;
}

.line {
  position: absolute;
  left: 145px;
  width: 10px;
  height: 50px;
  background: #fff;
}
